@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f9f6f3;
  --color-secondary: #17313e;
}
body {
  font-family: "Courier New", Courier, monospace;
}
/* Dark mode */
.dark {
  --color-primary: #17313e; /* contoh warna gelap */
  --color-secondary: #f9f6f3; /* contoh warna hijau terang */
}
