@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #1c352d;
  --color-secondary: #a6b28b;
}
body {
  font-family: "Courier New", Courier, monospace;
}
